h1{
    text-align: center;
}

img{
    width: 500px;
    border: 2px solid black;
}

.middle{
    width: 600px;
    /* height: 250px; */
    border: 4px solid lightblue;
    display: inline-block;
    margin-bottom: 10px;
    background-color: lightslategray;
    padding: 15px;
}

/* nav */
.nav, footer{
    /* padding-left: 230px; */
    text-align: center;
}

nav ul li{
    list-style-type: none;
    display: inline-block;
}

.box{
    display: flex;
    justify-content: space-evenly;
}